<ul class="social">

 	<a href="https://www.linkedin.com/in/mediagestalt/">
    <li><i class="fa-brands fa-linkedin"></i></li>
  </a>
  
    <a href="https://orcid.org/0000-0001-5894-0183">
    <li><i class="fa-brands fa-orcid"></i></li>
  </a>

  
</ul>

<!--
  <a href="https://instagram.com/{{ site.social_links.instagram }}">
    <li><i class="fa-brands fa-instagram"></i></li>
  </a>

  <a href="https://discordapp.com/users/{{ site.social_links.discord }}">
    <li><i class="fa-brands fa-discord"></i></li>
  </a>
  
  <br/>

  <a href="https://github.com/{{ site.social_links.github }}">
    <li><i class="fa-brands fa-github"></i></li>
  </a>

  <a href="https://twitter.com/{{ site.social_links.twitter }}">
    <li><i class="fa-brands fa-twitter"></i></li>
  </a>
  
-->



